@{
    ViewData["Title"] = "Om \"Min oppskriftsamling\" ";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Forsøk på en samling av oppskrifter som jeg har prøvd og bruker.</p>
<p>Erstatning for løsark, som ligger delvis i skuffer, permer og inni kokebøker.</p>
<p>Også oppskrifter som er market i kokebøker.</p>
